nav ul{
    display:flex;
    justify-content: space-around; 
    list-style-type: none;
}


@media screen and (min-width: 1250px) {
    ul:nth-child(3) li:nth-child(1) {
    color: blue;
    }
  }

@media screen and (min-width: 1250px) {
    ul:nth-child(3) li:nth-child(2) {
    color: green;
    }
  }


@media screen and (max-width: 1250px) {
    ul:nth-child(5) li:nth-child(1) {
    color: orange;
    }
  }

@media screen and (max-width: 1250px) {
    ul:nth-child(5) li:nth-child(2) {
    color: red;
    }
  }

@media screen and (max-width: 1000px) {
    ul:nth-child(7) li:nth-child(1) {
    font-weight: bold;
    text-decoration: underline;
    }
  }

@media screen and (min-width: 1250px) {
    ul:nth-child(7) li:nth-child(2) {
    font-style: italic;
    color: blue;
    }
  }

@media screen and (max-width: 800px) {
    h2:nth-child(8) {
    border: 2px solid;
    color: green;
    }
  }
@media screen and (min-width: 900px) {
    h2:nth-child(8) {
    border: 2px solid;
    color: green;
    }
  }

@media screen and (min-width: 900px) and (max-width: 1250px) {
    h2:nth-child(10) {
    border: 2px solid;
    color: red;
    }
    ul:nth-child(11) li:nth-child(1) {
        border: 2px solid;
        color: red;
    }
  }

#exo6 {
    height: 250px;
    width: 250px;
    background-image: url(../images/tartine.jpg);
    background-size: cover

}

@media screen and (max-width:900px) {
    #exo6 {
        height: 125px;
        width: 125px;
    }

}

@media print {
  h2 {
    color: black;
    background-image: none;

  }
}

